/*-- scss:defaults --*/

$primary: #66c2ff !default;
$callout-icon-scale: -10% !default;
$font-family-body: "Luciole" !default;
$font-family-monospace: "Fira Code" !default;
$font-size-root: 1.2rem !default;
$grid-sidebar-width: 0px !default;
$grid-body-width: 900px !default;
$grid-margin-width: 400px !default;
$body-bg: #161616 !default;
$body-color: #e8e8e8 !default;
$neutral: #e8e8e8 !default;

$primary-back: color-mix(in srgb, #{$primary}, black 82%) !default;
$body-back: color-mix(in srgb, #{$primary}, black 84%) !default;
$body-surface: color-mix(in srgb, #{$primary}, black 82%) !default;

$callout-note: #66c2ff !default;
$callout-tip: #5fc06a !default;
$callout-caution: #ffc870 !default;
$callout-warning: #ff8a4d !default;
$callout-important: #ff5252 !default;
$callout-mix-base: #161616 !default;
$callout-text-mix: white !default;
$callout-bg-mix: 88% !default;

/*-- scss:rules --*/

#quarto-header .navbar {
  background-color: color-mix(in srgb, #{$primary}, transparent 30%) !important;
  .navbar-nav .nav-link,
  .quarto-color-scheme-toggle,
  .quarto-navbar-tools a {
    color: $body-color !important;
  }
}
