/*-- scss:defaults --*/

$primary: #dd0000 !default;
$secondary: #0099FF !default;

$neutral: #5E5E5E !default;
$neutral-light: #999 !default;
$chapter-number-color: #6d7a86 !default;
$line-color: #DEE2E6 !default;

$callout-icon-scale: -10% !default;

$font-family-body: "Luciole";
$font-family-monospace: "Fira Code";
$font-size-root: 1.2rem !default;

$grid-sidebar-width: 0px !default;
$grid-body-width: 900px !default;
$grid-margin-width: 400px !default;

:root {
  --primary: #{$primary};
  --primary-back: color-mix(in srgb, var(--primary), white 90%);
  --secondary: #{$secondary};
  --secondary-back: #F0FAFF;
  --body: color-mix(in srgb, var(--primary), black 40%);
  --body-back: #FFF5F5;
  --code-bg-color: #f8f9fa;
  --callout-note-color: #0099FF;
  --callout-tip-color: #3fb618;
  --callout-caution-color: #f0ad4e;
  --callout-warning-color: #ff6a00;
  --callout-important-color: #FF0000;
}

/*-- scss:rules --*/

body {
  background-color: var(--body-back);
  color: var(--body);
  font-family: $font-family-body;
  text-align: justify !important;
}

html {
  scrollbar-color: var(--primary) var(--primary-back);
  scrollbar-width: thin;
}

#listing-listing {
  margin-top: 2rem;
  color: var(--body);
  a {
    color: inherit;
  }
  .listing-title {
    margin-left: 0;
    margin-bottom: 0.3rem;
    a {
      font-weight: bold;
    }
  }
  .listing-description {
    margin-top: 0.2rem;
  }
  .listing-category {
    padding: 0.4rem 0.5rem;
    margin-right: 0.3rem;
    color: var(--body);
    background-color: var(--primary-back);
    border: 0;
  }
  .quarto-post {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--primary-back);
  }
}

#quarto-document-content {
  margin: 0;
  .level1 h1 {
    margin-top: 0;
  }
}

#quarto-margin-sidebar {
  text-align: left;
  padding-left: 1rem;
  .quarto-listing-category-title {
    margin-left: 0;
  }
  nav[role=doc-toc] {
    > ul {
      margin-bottom: 2rem;
      a {
        border-left: 3px solid var(--primary-back);
      }
      li a {
        padding-top: 0.6rem;
      }
    }
    :is(ul > li, ul > li > ul > li) > a.active {
      font-weight: bold;
      border-left: 3px solid var(--primary);
    }
  }
}

a.anchorjs-link {
  visibility: hidden;
}

h2#toc-title {
  font-size: 0.9rem;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

#quarto-sidebar {
  background-color: var(--primary-back);
  .sidebar-title {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .sidebar-item-container {
    padding: 0.2rem;
    color: var(--primary);
    .active {
      color: inherit;
      font-weight: bold;
    }
  }
  .sidebar-item-section > .sidebar-item-container:first-child a {
    color: var(--body);
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.blockquote {
  color: $neutral;
}

h1, h2, h3 {
  color: var(--primary);
}

h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  border-bottom: 2px solid var(--primary-back);
  padding-bottom: 0.3rem;
  text-align: left;
}

h1 {
  font-size: 1.8rem;
  padding-top: 1rem;
}

h2 {
  padding-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

h4 {
  margin-left: 2rem;
  font-size: 1.1rem;
}

h5 {
  margin-top: 1.5em;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.tab-content section:first-of-type h2 {
  margin-top: 0;
}

.chapter-number {
  color: $chapter-number-color;
}

.nav-link.active .header-section-number {
  color: $chapter-number-color;
}

.sidebar-item .chapter-number {
  color: $chapter-number-color;
}

.quarto-section-identifier {
  font-weight: normal;
  color: $neutral;
}

div[data-code-filename] summary {
  font-family: $font-family-monospace !important;
  font-weight: 500;
}

div.sourceCode {
  background-color: var(--code-bg-color);
}

code.sourceCode, pre code {
  font-family: $font-family-monospace !important;
  font-size: 0.9rem;
  font-weight: 500;
}

pre code {
  color: $neutral;
}

code {
  color: var(--primary);
}

code span.do {
  font-style: inherit;
}

code span.op {
  color: $neutral;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: $line-color;
}

div.gslide-description .gslide-desc {
  font-size: 1rem;
}

.quarto-float-caption {
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.5;
  color: #111;
}

.quarto-float-subcaption {
  font-weight: normal;
  font-size: .85rem;
  color: $neutral;
}

figure.quarto-float-fig {
  padding-bottom: 1em;
}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  margin-top: 2em;
  margin-bottom: 0.15rem;
  text-align: left;
}

.gslide-desc {
  font-weight: bold;
}

figure .quarto-layout-row figure figcaption {
  font-style: normal;
}

div.csl-right-inline {
  padding-left: 0;
  padding-bottom: 0.5em;
}

#title-block-header {
  .quarto-title-banner {
    padding: 2.5rem 2.5rem;
    background-color: var(--primary-back);
    margin-block-end: 0;
    .quarto-title {
      margin: 0;
    }
    .title {
      color: var(--primary);
      padding: 0;
      font-size: 2.5rem;
    }
    .description {
      color: var(--primary);
      padding-top: 1rem;
      font-size: 1.3rem;
    }
    .quarto-category {
      padding: 0.3rem 0.4rem;
      color: var(--body);
      background-color: var(--body-back);
    }
  }
  .quarto-title-meta {
    margin-top: 1rem;
    .quarto-title-meta-heading {
      color: var(--primary);
      font-weight: bold !important;
    }
  }
  .block-title {
    color: var(--primary);
    font-weight: bold !important;
  }
}

#quarto-search {
  padding: 0 1rem;
}

#quarto-header .navbar {
  background-color: var(--primary);
  border-bottom: 3px solid var(--primary-back);
  .navbar-logo {
    width: auto;
    max-height: 50px;
    padding: 0.25rem 0;
  }
  .navbar-container {
    font-size: 1.2rem;
    padding: 0;
  }
  .nav-link {
    color: var(--body-back);
    padding: 0 1rem;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--primary-back);
    font-weight: bold;
  }
  .dropdown-menu {
    border: 3px solid var(--body-back);
    padding: 0.5rem 1rem;
    background-color: var(--primary-back);
    .dropdown-item {
      color: var(--primary);
      font-size: 1rem;
      font-weight: bold;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: var(--body);
      background-color: var(--primary-back);
    }
  }
}

.nav-footer {
  padding-top: 0.8rem;
  background-color: var(--primary-back);
  color: var(--body);
  border-top: 2px solid var(--body-back);
  line-height: 1.5rem;
  font-size: 1.05rem;
  a {
    text-decoration: none;
    color: var(--primary);
  }
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
  .nav-footer-center a {
    margin: 0 0.3rem;
    color: var(--primary);
    font-size: 1.1rem;
    :hover {
      color: var(--body);
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 136%;
  max-width: 100%;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--primary-back);
    box-shadow: 0 2px 4px var(--primary-back);
  }
}

// INDEX -----------------------------------------------------------------------

.social-icon-links [class^="link"],
.social-icon-links [class^="link"]:hover,
.social-icon-links [class^="link"]:focus {
  text-decoration: none;
}

.site-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFF5F5;
  margin-top: -2.5rem;
  padding: 2rem;
}

h2.site-title {
  font-size: 5rem;
  margin: 0;
  border: 0;
}

.site-logo-word,
.site-logo-lille,
.site-logo-alisp,
.social-icon-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.site-logo-word {
  max-width: 40%;
  height: auto;
  img {
    max-width: 80%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

.site-logo-lille {
  max-width: 20%;
  height: auto;
  img {
    max-width: 80%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

.site-logo-alisp-social {
  max-width: 40%;
  height: auto;
  padding: 2rem;
  img {
    max-width: 90%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

.social-icon-links {
  padding-top: 0.8rem;
  font-size: 1.2rem;
  min-width: 0;
  .link-primary {
    margin: 10px;
    i {
      color: var(--primary);
    }
    :hover {
      color: var(--body);
    }
  }
}

@media(max-width: 576px) {
  .site-hero {
    flex-direction: column;
  }

  .site-title {
    font-size: 9vw;
  }

  .site-logo {
    max-width: 20%;
  }
}

// CALLOUT ---------------------------------------------------------------------

.callout {
  border-radius: 5px;
  background-color: #fff;
  .callout-title-container {
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    padding-right: 1.3rem;
  }
  .callout-body {
    padding-right: 1.3rem;
  }
}

.callout:not(.no-icon).callout-titled.callout-style-simple .callout-body {
  padding-left: 1.75rem;
}

.callout.callout-style-simple {
  .callout-icon::before,
  .callout-toggle::before {
    height: 1.2rem;
    width: 1.2rem;
    background-size: 1.2rem;
    margin-top: 0.3rem;
  }
}

div.callout.callout-note {
  border: 2px solid color-mix(in srgb, var(--callout-note-color), white 40%);
  border-left: 5px solid var(--callout-note-color);
  .callout-header {
    color: var(--callout-note-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-note-color), black 20%);
  }
}

div.callout.callout-important {
  border: 2px solid color-mix(in srgb, var(--callout-important-color), white 30%);
  border-left: 5px solid var(--callout-important-color);
  .callout-header {
    color: var(--callout-important-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-important-color), black 10%);
  }
}

div.callout.callout-tip {
  border: 2px solid color-mix(in srgb, var(--callout-tip-color), white 60%);
  border-left: 5px solid var(--callout-tip-color);
  .callout-header {
    color: var(--callout-tip-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-tip-color), black 10%);
  }
}

div.callout.callout-caution {
  border: 2px solid color-mix(in srgb, var(--callout-caution-color), white 25%);
  border-left: 5px solid var(--callout-caution-color);
  .callout-header {
    color: color-mix(in srgb, var(--callout-caution-color), black 10%);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-caution-color), black 30%);
  }
}

div.callout.callout-warning {
  border: 2px solid color-mix(in srgb, var(--callout-warning-color), white 25%);
  border-left: 5px solid var(--callout-warning-color);
  .callout-header {
    color: var(--callout-warning-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-warning-color), black 10%);
  }
}

// COLUMNS ---------------------------------------------------------------------

// .column-margin {
//   position: relative;
// }

// .column-margin iframe {
//   position: absolute;
//   top: 0;
// }

.page-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

.page-sidebar {
  background-color: #fff5f5;
  padding: 0.5rem;
  h1, h2 {
    text-decoration: none;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 1rem;
  }
  h1 {
    padding: 0.8rem 0;
    color: var(--body-back);
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  h2 {
    padding: 0.5rem 0;
    color: var(--primary);
    background-color: var(--body-back);
    border: 1px solid var(--body-back);
    font-weight: bold;

  }
  iframe, img {
    padding: 0.2rem;
    background-color: #fff;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--primary-back);
    box-shadow: 0 2px 4px var(--primary-back);
    width: 100%;
    max-width: 100%;
  }
  img {
    margin-bottom: 1.5rem;
  }
}
